.nav-pills .nav-link.active {
    color: #fff;
    background-color: #7F7F7F;
}

.nav-link {
    color: #54545C;
}

.nav-link:hover {
    color: #222222;
}

.rc-slider-track {
  background-color: #7F7F7F;
}

.rc-slider-dot-active {
  border-color: #7F7F7F;
}

.rc-slider-handle {
  background-color: #7F7F7F;
  border-color: #7F7F7F;
}

.rc.slider-handle:hover {
  border-color: #7F7F7F;
}

.rc.slider-handle-active:active {
  border-color: #7F7F7F;
}

.form-check-input {
  color: #7F7F7F;
}
